@import "tailwindcss";
body {
  background-image: url("./assets/bg1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  font-family: "Inter", sans-serif;
  color: #fff;
}
